@import "../../App.scss";

.navbar {
  height: 100px;
  .wrapper {
    max-width: 1366px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .social {
      display: flex;
      gap: 20px;
      font-size: 16px;

      @include medium {
        font-size: 14px;
        gap: 10px;
      }
      @include small {
        font-size: 14px;
        gap: 10px;
      }
    
    }
  }

  @include tablet {
    max-width: 850px;
    margin: auto;
  }
  @include mobile {
    max-width: 600px;
    margin: auto;
  }
  @include medium {
    max-width: 292px;
    margin: auto;
    padding-left: 10px;
  }
  @include small {
    max-width: 220px;
    margin: auto;
  }

  span {
    font-weight: bold;
    position: relative;

  }

  span::before {
    content: "ARUN SURESH";
    color: rgb(231, 231, 231);
    animation: words 20s infinite;

    @include small{
      display: none;
    }
    @include medium{
      font-size: 10px;
    }

    @include mobile{
      font-size: 14px;
    }
  }

  span::after {
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 2px solid white;
    background-color: #0c0c1d;
    right: -4px;
    animation: cursor 0.8s infinite, typing 20s steps(14) infinite;
  }
}
@keyframes words {
  0%,
  20% {
    content: "Hello";
  }
}

@keyframes cursor {
  to {
    border-left: 2px solid rgb(0, 0, 0);
  }
}

@keyframes words {
  0%,
  20% {
    content: "Hi,";
  }
  21%,
  40% {
    content: "Its ARUN SURESH";
  }
  41%,
  60% {
    content: "FRONT-END DEVELOPER";
  }
  61%,
  80% {
    content: "GRAPHIC DESIGNER";
  }
  81%,
  100% {
    content: "";
  }
}

@keyframes typing {
  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95% {
    width: 0;
  }
  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85% {
    width: calc(100% + 8px);
  }
}
