footer {
  width: 100%;
  height: 40vh;
  background-color: #2a2a3b;
  color: white;
  padding: 40px 0;
  font-family: Arial, sans-serif;
}
.container {
  max-width: 1266px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}
.section {
  flex: 1;
  min-width: 250px;
}

.contactus {
    p{
        line-height:2;
    }
}

.logosec {
  .logo {
    display: flex;
    align-items: center;
    font-size: 50px;
    color: rgb(255, 166, 0);
  }

  span{
    font-weight:500;
    font-size: 24px;


  }
}

h3 {
  font-size: 18px;
  margin-bottom: 10px;
}
ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 8px;
}

ul li a {
  color: white;
  text-decoration: none;
}

ul li a:hover {
  color: orange;
}

.newsletter {
  display: flex;
}

.newsletter input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 4px 0 0 4px;
}

.newsletter button {
  background-color: #f19500;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.newsletter button:hover {
  background-color: #ffaf2e;
}

.bottom {
  text-align: center;
  margin-top: 30px;
  color: #aaaaaa;
  line-height: 1.4;
  h4{
    font-size: 16px;
    span{
      color:rgb(255, 200, 47) ;
    }
  }
  p{
    font-size: 12px;
    span{
      color: rgb(255, 200, 47);
      font-weight: 500;
    }
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    text-align: center;
    gap: 30px;
  }

  .newsletter {
    justify-content: center;
  }

  .newsletter input {
    width: 70%;
  }

  .newsletter button {
    width: 30%;
  }
}
